.header {
  background-color: #686868; /* Fondo del header */
  color: #fff; /* Color del texto */
  padding: 1rem; /* Espaciado interno */
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  text-align: center; /* Asegura que el contenido esté centrado */
}

.icon-container {
  display: flex; /* Muestra los iconos en fila */
  gap: 1.5rem; /* Espaciado entre iconos */
  justify-content: center; /* Centra los iconos horizontalmente */
  align-items: center; /* Centra los iconos verticalmente */
  margin-bottom: 1rem; /* Margen inferior para separación del botón */
}

.header-icon {
  width: 40px; /* Tamaño de los iconos */
  height: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
  cursor: pointer;
}

.header-icon:hover {
  transform: scale(1.2); /* Aumenta ligeramente el tamaño al pasar el ratón */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Añade una sombra */
}

.language-button {
  padding: 0.5rem 1rem; /* Tamaño del botón */
  font-size: 1rem; /* Tamaño de fuente */
  font-weight: bold; /* Fuente en negrita */
  background-color: #363636; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Animación suave */
}

.language-button:hover {
  background-color: #cacaca; /* Color de hover */
  color: #333333; /* Color del texto */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
}
