.header {
  background-color: #686868; /* Fondo del header */
  color: #ffffff; /* Color del texto */
  padding: 1rem; /* Espaciado interno */
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  text-align: center; /* Asegura que el contenido esté centrado */
}

.icon-container {
  display: flex;
  gap: 3rem; /* Espaciado entre los iconos */
  justify-content: center; /* Centra los iconos horizontalmente */
  align-items: center; /* Alinea los iconos verticalmente */
  margin: 1rem 0; /* Margen superior e inferior */
}

.header-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gmail-icon-container {
  position: relative; /* Necesario para el popup */
  display: inline-block;
  cursor: pointer;
}

.email-popup {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 50px; /* Ajusta según el tamaño del icono */
  left: 50%;
  transform: translate(-115%, -80%);
  background-color: #ffffff;
  color: #333;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 10;
}

.email-popup p {
  margin: 0;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
}

.email-popup button {
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #929292;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.email-popup button:hover {
  background-color: #494949;
}

.header-icon:hover {
  transform: scale(1.2); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

.language-button {
  padding: 0.5rem 1rem; /* Tamaño del botón */
  font-size: 0.8rem; /* Tamaño de fuente */
  font-weight: bold; /* Fuente en negrita */
  background-color: #3b5a12; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Animación suave */
}

.language-button:hover {
  background-color: #b1d38a; /* Color de hover */
  color: #333333; /* Color del texto */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

.name {
  font-size: 2rem;
}