/* Sección Home (Elimina cualquier fondo azul) */
.home {
  background-color: #ffffff; /* Fondo blanco */
  color: #333; /* Texto en color oscuro */
  padding: 2rem; /* Espaciado interno */
  text-align: center; /* Centra el texto */
}

.home h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.2rem;
  line-height: 1.5;
}
